<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- This Menu Item will appear in the Upper bar, That's why It needs NO parent or action -->
        <menuitem id="wedding_organizer_menu_root"
                  name="WEDDING ORGANIZER"
                  sequence="0"/>

        <!-- This Menu Item Must have a parent -->
        <menuitem id="wedding_organizer_menu_categ"
                  name="Organizer"
                  parent="wedding_organizer_menu_root"
                  sequence="10"/>

        <!-- This Menu Item Must have a parent -->
        <menuitem id="wedding_organizer_partner_menu_categ"
                  name="Partner"
                  parent="wedding_organizer_menu_root"
                  sequence="13"/>
    </data>
</odoo>